[submodule "themes/hugo-eureka"]
	path = themes/hugo-eureka
	url = https://github.com/wangchucheng/hugo-eureka
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
