---
layout: page
permalink: /blog/
title: Blog
---

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#posts-by-date').collapsible('default-open', {-->
<!--            contentOpen: true-->
<!--        });-->

<!--        $('#posts-by-category').collapsible('default-open', {-->
<!--            contentOpen: true-->
<!--        });-->
<!--    });-->
<!--</script>-->

<div id="toc">
    <ul>
        <li><a href="#posts-by-date">Posts by date</a></li>
        <li><a href="#posts-by-category">Posts by category</a></li>
    </ul>
</div>

<div id="posts-by-date">
    <h2>Blog posts by date </h2>
    <ul>
        {% for post in site.posts %}
        <li>
            <div>
                <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                <p>
                    <small>Date published: {{ post.date | date: "%Y-%m-%d" }}</small>
                </p>
                <p>tags:

                    {% for category in post.categories %}
                    <a href="#{{ category }}">{{ category }}</a>
                    {% endfor %}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="posts-by-category">
    <h2>Blog posts by category</h2>
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>

        <h3 class="category-head" id="#{{ category_name }}">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>